@font-face {
    font-family: "Segoe UI Variable Static Display";
    src: url("https://surfaceuser.github.io/geeglo/resources/sf.otf");
  }
  
  .inputbox {
    padding: 12px 12px 12px 15px;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    width: 500px;
    outline: transparent;
    font-size: 20px;
    border-radius: 15px;
    border: solid transparent;
    font-weight: 500;
    font-family: "SF Pro Text";
    background-color: rgb(245, 245, 245);
    display: inline-block;
  }
  
  .inputbox:hover {
    background-color: rgb(220, 220, 220);
  }
  
  .inputbox:focus {
    background-color: white;
    box-shadow: 0px 2px 8px rgb(210, 210, 210);
    outline: lightgray solid 2px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, purple, cyan);
    color: white;
    text-align: center;
    padding-right: 25px;
    border-radius: 10px 10px 0 0;
    font-weight: regular;
    font-family: "SF Pro Text";
  }